@import "mixins";

/* Logo */
/*-----------------------------------*/

.site-logo {
	font-family: @font2;
	font-size: 66px;
	color: @color-pink;
	@media @md {max-width: 200px;}
	@media @xxs {font-size: 44px;}

	a {
		color: @color-pink;
		white-space: nowrap;
	}

	.footer & {
		max-width: 200px;
		margin-bottom: 20px;

		@media @sm {
			max-width: 140px;
			margin-top: 6px;
		}

		@media @xs {display: inline-block;}
	}
}

/* HighLighted First Letter */
/*-----------------------------------*/

.first-letter:first-letter {
	float: left;
	font-family: @font2;
	font-size: 5em;
	font-weight: 900;
	line-height: .8;
	color: @color-pink;
	text-transform: uppercase;
	padding: 0.1em .2em 0 0;
}





