@import "mixins";

/* =========================================================================
   General Section Styles
 =========================================================================== */

.section {
	.clearfix();
	width: 100%;
	padding: @section-padding-top 0 @section-padding-bottom;
	@media @lg {padding: @section-padding-top * .6 0 @section-padding-bottom * .6;}
	@media @sm {padding: @section-padding-top * .3 0 @section-padding-bottom * .3;}
}

.section-title {
	font-size: @font-size-h0;
	@media @lg {font-size: @font-size-h0 - 6;}
	@media @xmd {font-size: @font-size-h0 - 10;}
	@media @md {font-size: @font-size-h1;}
	@media @sm {font-size: @font-size-h2; br {display: none;}}
	@media @xs {font-size: 26px;}
	@media @xxs {font-size: 24px;}
	line-height: 1.2;
	text-transform: none;
	margin-bottom: .5em;

	&.big {
		font-size: @font-size-h0 + 12;
		letter-spacing: -.03em;
		@media @xlg {font-size: @font-size-h0 + 4;}
		@media @lg {font-size: @font-size-h0;}
		@media @xmd {font-size: 54px;}
		@media @md {font-size: 44px;}
		@media @sm {font-size: 36px;}
		@media @xs {font-size: 32px;}
		@media @xxs {font-size: 24px;}
	}

	strong {
		font-weight: 900;
		color: @color-pink;
	}
}

.section-pre-title {
	font-size: @font-size - 2;
	color: @color-gray3;
	letter-spacing: .1em;
	text-transform: uppercase;
	padding-left: 40px;
	margin-bottom: .7em;
	position: relative;
	@media @xs {font-size: 12px;}

	&:before {
		content: '';
		.size(24px, 1px);
		background-color: @color-blue;
		position: absolute;
		top: 6px;
		left: 0;
	}
}

.section-description {
	margin-bottom: 40px;

	p {
		line-height: 1.6;
		margin-bottom: 1.4em;
	}
}

/* =========================================================================
   Main Header
 =========================================================================== */

.main-header {
	padding: 260px 0 190px;
	.background-size();
	.display-flex();
	justify-content: center;
	align-items: center;
	position: relative;

	&.big {height: 100vh;}

	@media @lg {padding: 180px 0 110px;}
	@media @md {padding: 130px 0 70px;}
	@media @xs {padding: 100px 0 40px;}

	/*&:before {
		content: '';
		.absolute();
		.gradient3points(fade(@color-dark, 90%), fade(@color-dark, 50%), 40%, fade(@color-dark, 30%));
	}*/

	.header-inner {
		max-width: 70%;
		text-align: center;
		position: relative;
		@media @md {max-width: 80%;}
		@media @sm {max-width: 90%;}
	}

	.header-pre-title {
		font-size: @font-size - 2;
		color: @color-white;
		text-transform: uppercase;
		letter-spacing: .04em;
		margin-bottom: 2em;
		@media @xs {font-size: 12px;}

		span {
			display: inline-block;
			position: relative;
			padding: 0 40px;

			&:before,
			&:after {
				content: '';
				.size(24px, 1px);
				background-color: @color-white;
				position: absolute;
				top: 50%;
				left: 0;
				margin-top: -1px;
			}

			&:after {
				left: auto;
				right: 0;
			}
		}
	}

	.header-title {
		font-size: 70px;
		font-weight: 900;
		color: @color-white;
		line-height: 1;
		letter-spacing: -.04em;
		margin-bottom: .5em;
		@media @md {font-size: 50px;}
		@media @xs {font-size: 34px;}
		@media @xxs {font-size: 30px;}
	}

	.header-description {
		color: @color-white;
		line-height: 1.7;
		max-width: 390px;
		margin: 0 auto 2em;
	}
}

/* =========================================================================
   Features
 =========================================================================== */

.section-features {
	padding-bottom: 20px;

	.section-header {
		max-width: 680px;
		padding: 0 15px;
		margin: 0 auto 140px;
		text-align: center;
		@media @lg {margin-bottom: 60px;}
		@media @xs {margin-bottom: 20px;}
	}

	.section-content {
		.image {
			float: left;
			margin-top: -600px;
			position: relative;
			max-width: 53%;
			@media @xlg {margin-top: -350px;}
			@media @lg {margin-top: -300px; max-width: 50%;}
			@media @xmd {margin-top: -280px;}
			@media @md {margin-top: 0;}
			@media @xs {float: none; max-width: 100%; margin-bottom: 40px;}
		}

		.features {
			float: left;
			max-width: 34%;
			margin-left: 3%;
			min-height: 65px;

			@media @lg {
				max-width: 48%;
				margin-left: 2%;
				padding: 0 15px;
			}

			@media @xs {
				float: none;
				max-width: 100%;
				margin-left: 0;
			}

			li {
				padding-left: 90px;
				margin-bottom: 45px;
				position: relative;
				@media @xmd {margin-bottom: 40px;}
				@media @xxs {padding-left: 80px;}
			}

			[class*='feature-icon-'] {
				position: absolute;
				top: 5px;
				left: 0;
				.size(70px, 60px);
				background: url('@{images-path}/feature-icons.png') 0 0 no-repeat;
			}

			.feature-icon-2 {background-position: -70px 0;}
			.feature-icon-3 {background-position: -140px 0;}
			.feature-icon-4 {background-position: -210px 0;}
			.feature-icon-5 {background-position: -280px 0;}
			.feature-icon-6 {background-position: -350px 0;}

			.title {
				font-size: @font-size-h4;
				margin-bottom: .9em;
				@media @xmd {margin-bottom: .4em;}
				@media @sm {font-size: 20px;}
			}

			.description {
				line-height: 1.6;
				a {text-decoration: underline;}
			}
		}
	}
}

/* =========================================================================
   Buy
 =========================================================================== */

.section-buy {
	.background-size(100% 100%);
	padding: 160px 0 120px;
	@media @xmd {padding: 100px 0 120px;}
	@media @sm {padding: 60px 0 80px;}
	@media @xs {background: #eef2f4 !important;}
	@media @xxs {padding: 40px 0 60px;}

	.section-content {
		.image {
			float: left;
			max-width: 51%;
			@media @lg {max-width: 50%;}
			@media @xs {float: none; max-width: 100%; margin-bottom: 40px;}
		}

		.column-right {
			float: left;
			max-width: 24%;
			margin-left: 8%;
			margin-top: 130px;

			@media @lg {
				max-width: 48%;
				margin-left: 2%;
				padding: 0 15px;
			}

			@media @md {
				margin-top: 30px;
			}

			@media @xs {
				float: none;
				max-width: 100%;
				margin-left: 0;
			}
		}
	}
}

/* =========================================================================
   Testimonials
 =========================================================================== */

.section-testimonials {
	padding-bottom: 0;

	.section-header {
		margin-bottom: 60px;
		@media @md {margin-bottom: 0;}
	}

	.section-title {margin-bottom: 0.2em;}

	.section-content {
		.display-flex();
		align-items: flex-end;
		justify-content: space-between;
		@media @sm {display: block;}

		.no-flexbox & {
			.clearfix();
		}

		.image {
			float: right;
			max-width: 52%;
			@media @lg {max-width: 50%;}
			@media @sm {float: none; max-width: 100%;}
		}

		.column-left {
			float: left;
			max-width: 24%;
			margin: 0 4% 90px 20%;

			@media @xlg {
				max-width: 40%;
				margin-left: 4%;
				padding: 0 15px;
			}

			@media @lg {
				max-width: 50%;
				margin: 0 0 60px;
			}

			@media @sm {
				float: none;
				max-width: 100%;
				margin: 0 0 30px;
			}
		}
	}

	.testimonial {
		.testimonial-text {
			font-size: 24px;
			font-style: italic;
			color: #4f4f6f;
			line-height: 1.5;
			margin-bottom: 30px;
			@media @md {font-size: 18px;}
			@media @xxs {font-size: 16px;}

			&:before,
			&:after {
				content: '«';
				font-family: @font3;
				font-size: 44px;
				color: fade(@color-blue2, 20%);
				line-height: 20px;
				display: inline-block;
				vertical-align: -26%;
				margin-right: 10px;
			}

			&:after {
				margin-right: 0;
				margin-left: 10px;
				vertical-align: -64%;
				.transform(rotateX(180deg));
				.transform(rotateY(180deg));
			}
		}

		.testimonial-author {
			padding: 12px 0 0 90px;
			min-height: 64px;
			font-size: @font-size - 2;
			color: @color-light4;
			letter-spacing: .1em;
			position: relative;

			.avatar {
				.size(64px);
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				img {width: 100%;}
			}

			.author {
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 7px;
			}
		}
	}
}

/* =========================================================================
   CTA
 =========================================================================== */

.section-cta {
	.background-size();

	.section-header {
		max-width: 730px;
		padding: 0 15px;
		margin: 0 auto;
		color: @color-white;
		text-align: center;
	}

	.section-title {
		font-weight: 900;
		color: @color-white;
	}
}

/* =========================================================================
   Post
 =========================================================================== */

.section-post {
	.post-title {
		font-size: @font-size-h0;
		font-weight: 900;
		color: @color-dark3;
		text-align: center;
		padding: 0 7%;
		margin-bottom: 1.6em;

		@media @md {
			font-size: 40px;
			padding: 0;
		}

		@media @sm {margin-bottom: 1em;}
		@media @xs {font-size: 30px;}
		@media @xxs {font-size: 22px;}
	}

	p {
		font-size: @font-size + 4;
		line-height: 1.7;
		margin-bottom: 1.6em;
		@media @md {font-size: @font-size + 2;}
		@media @sm {font-size: @font-size;}
		@media @xxs {font-size: @font-size - 2;}
	}

	.blockquote {
		text-align: center;
		padding: 0 6%;
		margin: 40px 0;

		@media @xs {
			padding: 0;
			margin: 30px 0;
		}

		blockquote,
		span {
			font-weight: 700;
			color: @color-light4;
			line-height: 2.2;
			letter-spacing: .2em;
			text-transform: uppercase;
			@media @md {font-size: @font-size - 2;}
			@media @xs {letter-spacing: .1em;}
			@media @xxs {font-size: @font-size - 3;}
		}

		blockquote {
			color: @font-color;
			padding-bottom: 20px;
			margin-bottom: 20px;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0;
				.size(90px, 3px);
				margin-left: -45px;
				background-color: @color-blue;
			}
		}
	}

	.post-footer {
		margin-top: 50px;
	}
}

.post-taglist {
	font-size: 0;
	margin-top: 15px;
	@media @xxs {margin-top: 10px;}

	a {
		display: inline-block;
		height: 30px;
		line-height: 30px;
		max-width: 100%;
		.ellipsis();
		margin: 0 8px 8px 0;
		border-radius: 15px;
		font-size: @font-size - 2;
		color: @color-white;
		padding: 0 20px;
		background-color: @color-pink2;
		.transition();
		&:hover, &:active {background-color: @color-pink;}
	}
}

.post-social {
	position: relative;
	display: inline-block;
	text-align: center;

	> a {
		.size(60px);
		.box-shadow(0 5px 5px fade(@color-black, 30%));
		border-radius: 50%;
		.gradient-horizontal(#4a50b1, #7d4a9e);
		font-size: 24px;
		color: @color-white;
		line-height: 60px;
		display: block;

		@media @xxs {
			.size(50px);
			font-size: 20px;
			line-height: 50px;
		}
	}

	ul {
		visibility: hidden;
		opacity: 0;
		.transition();
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100%;
	}

	&:hover, &:active {
		ul {
			visibility: visible;
			opacity: 1;
		}
	}

	li {
		padding-bottom: 8px;

		a {
			.size(34px);
			.box-shadow(0 2px 2px fade(@color-black, 30%));
			border-radius: 50%;
			background: #4c50b0;
			font-size: 16px;
			color: @color-white;
			line-height: 34px;
			display: inline-block;
			.transition();

			&:hover, &:active {background-color: @color-pink;}
		}
	}
}